:root {
  font-size: 62.5%;

  --primary-color: #5B33B0;
  --secondary-color: #1E2D59;
  --tertiary-color: #A2D9C4;
  --dark-color: #0C1C3E;
  --light-color: #EEEEEE;
  --yellow-color: #F9F7AF;
  --pink-color: #FFA3D7;
  --blue-color: #8BE9FD;
  --orange-color: #FFB48E;
  --text-color: #D0DAF5;

  --fs-xl: 2.8rem;
  --fs-lg: 2.0rem;
  --fs-md: 1.6rem;
  --fs-sm: 1.2rem;
}

@media only screen and (min-width: 768px) {
  :root {
    --fs-xl: 3.8rem;
    --fs-lg: 2.4rem;
    --fs-md: 2rem;
    --fs-sm: 1.4rem;
  }
}

@media only screen and (min-width: 1366px) {
  :root {
    --fs-xl: 4.8rem;
    --fs-lg: 3rem;
    --fs-md: 2.2rem;
    --fs-sm: 1.6rem;
  }
}


html, body {
  height: 100%;
  line-height: 1.4;
}

html {
  font-family: "Recursive", sans-serif;
  background-color: var(--dark-color);
}

body {
  font-size: var(--fs-md);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
}

nav {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}
nav a {
  font-size: var(--fs-sm);
  color: var(--light-color);
  display: block;
  padding: 10px 30px;
  text-decoration: none;
  text-align: center;
  float: left;
  transition: 0.2s;
}
nav a:hover {
  background-color: var(--yellow-color);
  color: black;
}
nav a.active {
  background-color: var(--tertiary-color);
  color: var(--dark-color);
}

strong {
  font-weight: bold;
  color: var(--pink-color);
}

em {
  font-style: italic;
  color: var(--blue-color);
}

.link-list {
  max-width: 70ch;
}

@media only screen and (max-width: 768px) {
  nav a:not(:first-child) {
    display: none;
  }
  nav a:first-child:not(.active) {
    background-color: var(--yellow-color);
    color: var(--dark-color);
  }
  nav a.hamburger {
    float: right;
    display: block;
  }

  nav.responsive {
    position: fixed;
    display: block;
  }

  nav.responsive :not(:first-child):not(:last-child) {
    padding: 25px 30px;
    transition: 0.2s;
  }
  nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  nav.responsive a.hamburger {
    color: var(--dark-color);
    position: absolute;
    right: 0;
    top: 0;
  }
}

main {
  background-color: var(--dark-color);
  color: var(--text-color);
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
main h1 {
  text-align: center;
  font-size: var(--fs-xl);
}
main h2 {
  text-align: center;
  font-size: var(--fs-lg);
}
main h3 {
  color: var(--orange-color);
  font-size: var(--fs-lg);
}
main p {
  font-size: var(--fs-md);
  margin-bottom: 20px;
  max-width: 70ch;
}
main a {
  color: var(--yellow-color);
}

.entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  border: 3px solid var(--light-color);
  border-radius: 20px;
  padding: 20px;
  margin: 0 20px 50px 20px;
}
.entry img {
  max-width: 100%;
  margin-bottom: 10px;
}
.entry h2 {
  font-size: var(--fs-lg);
  margin-bottom: 10px;
}
.entry p {
  font-size: var(--fs-md);
  text-align: center;
}
.entry a {
  background-color: var(--yellow-color);
  color: var(--dark-color);
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
}

footer {
  background-color: var(--secondary-color);
  font-size: var(--fs-sm);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  width: 100%;
  margin-top: auto;
}
.footer-note {
  color: var(--text-color);
  text-align: center;
  width: 100%;
  margin-bottom: 0;
}
footer a {
  color: var(--light-color);
  text-decoration: none;
  margin: 0 10px;
}

.hero {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}
.hero p {
  text-align: left;
}
.hero img {
  max-width: 50%;
  vertical-align: middle;
  margin-bottom: 20px;
  border-radius: 50%;
  width: 100%;
}
.hero div:first-child {
  flex-basis: 65%;
  padding: 0 1rem;
}
.hero div:last-child {
  flex-basis: 35%;
}


@media only screen and (min-width: 768px) {
  nav {
    justify-content: center;
  }

  nav .hamburger {
    display: none;
  }

  .entry {
    width: 40%;
    margin: 0 10px 50px 10px;
  }
  .entry img {
    width: 100%;
  }

  .hero {
    flex-direction: row;
    align-items: center;
  }
  .hero img {
    max-width: 300px;
  }

  .project-rows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
}


@media only screen and (min-width: 1366px) {
  main {
    padding: 50px;
  }
  .entry {
    border: 4px solid var(--light-color);
    width: 28%;
    margin: 0 10px 50px 10px;
  }

  .hero img {
    max-width: 400px;
  }
}
