:root {
  font-size: 62.5%;

  --primary-color: #4E279C;
  --secondary-color: #263F7A;
  --dark-color: #002147;
  --light-color: #fafafa;
  --highlight-color: #f8f86c;
  --text-color: #d0daf5;

  --fs-xl: 3.5rem;
  --fs-700: 2.8rem;
  --fs-400: 2.1rem;
  --fs-300: 1.6rem;
}

@media only screen and (min-width: 768px) {
  :root {
    --fs-xl: 4.2rem;
    --fs-700: 2.8rem;
    --fs-400: 2.1rem;
    --fs-300: 1.6rem;
  }
}

@media only screen and (min-width: 1366px) {
  :root {
    --fs-xl: 5.6rem;
    --fs-700: 3.2rem;
    --fs-400: 2.4rem;
    --fs-300: 1.6rem;
  }
}

html, body {
  height: 100%;
}

html {
  font-family: "Recursive", sans-serif;
  background-color: var(--dark-color);
}

body {
  font-size: 1.6rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: var(--primary-color);
  font-size: var(--fs-300);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav a {
  color: var(--light-color);
  text-decoration: none;
  margin: 0 10px;
}

main {
  background-color: var(--dark-color);
  color: var(--text-color);
  padding: 10px;
  margin-top: 20px; /* make room for the fixed navbar */
  /* margin-bottom: 20px; /* make room for the fixed footer */
}

main h1 {
  text-align: center;
  font-size: var(--fs-xl);
  margin-bottom: 20px;
}

main p {
  text-align: center;
  font-size: var(--fs-400);
  margin-bottom: 20px;
}

header {
  margin-top: 20px;
  width: 100%;
}

.entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  border: 3px solid var(--light-color);
  border-radius: 20px;
  padding: 20px;
  margin: 0 20px 50px 20px;
}

.entry img {
  max-width: 100%;
  margin-bottom: 10px;
}

.entry h2 {
  font-size: var(--fs-700);
  margin-bottom: 10px;
}

.entry p {
  text-align: center;
}

.entry a {
  background-color: var(--highlight-color);
  color: var(--dark-color);
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
}

footer {
  background-color: var(--secondary-color);
  font-size: var(--fs-300);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  /* position: fixed; */
  /* bottom: 0; */
  width: 100%;
  margin-top: auto;
}

.footer-note {
  color: var(--text-color);
  text-align: center;
  width: 100%;
  margin-bottom: 0;
}

footer a {
  color: var(--light-color);
  text-decoration: none;
  margin: 0 10px;
}

@media only screen and (min-width: 768px) {
  nav a {
    margin: 0 20px;
  }

  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .entry {
    width: 40%;
    margin: 0 10px 50px 10px;
  }

  .entry img {
    width: 100%;
  }
}

@media only screen and (min-width: 1366px) {
  main h1 {
    font-size: var(--fs-xl);
  }

  main p {
    font-size: var(--fs-700);
  }

  .entry {
    border: 5px solid var(--light-color);
    width: 28%;
    margin: 0 10px 50px 10px;
  }

  .entry h2 {
    font-size: var(--fs-700);
  }

  .entry p {
    font-size: var(--fs-400);
  }
}
